<p id="notice"><%= notice %></p>

<h1>Listing Envs</h1>

<table class="table table-striped table-responsive">
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @envs.each do |env| %>
      <tr>
        <td><%= env.title %></td>
        <td><%= env.content %></td>
        <td><%= link_to 'Show', env %></td>
        <td><%= link_to 'Edit', edit_env_path(env) %></td>
        <td><%= link_to 'Destroy', env, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Create New Environment File', new_env_path, class: 'btn btn-primary' %>
